 
  .hamburgerMenu {
    font-size: 30px;
    cursor: pointer;
}

.menuNav {
    font-family: 'Maitree';
    display: flex;
    width: 350px;
    justify-content: space-between;
    text-decoration: none;
    color: $blue;
    list-style: none;
    font-size: 18px;
    margin: 23px 0 0;
}