@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

@font-face {
    font-family: "Maitree";
    src: url("https://fonts.googleapis.com/css2?family=Maitree&display=swap") format("truetype");
    font-weight: normal;
}

$headingFont: "Maitree";
$bodyFont: "Maitree";

$baseFontSize: 18px;

$blue: #5da9c2;
$green: #ace8cd;
$pink: #f4e6e8;
$white: #fff;