  @media (min-width: 1050px) {
  
    .hamburgerMenu, .closeBtn {
        display: none;
        background-color: none;
    }
  
    /* .menuNav {
        display: none;
    } */
  }
  
  @media (max-width: 1050px) {
  
    .hamburgerMenu {
        display: block;
        margin-right: 20px;
        border: none;
        background-color: transparent;
    }
  
    .menuNav {
        height: 100%;
        width: 0;
        position: fixed; 
        z-index: 100; 
        top: 0; 
        left: -100%;
        background-color: blue; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s;
    }
  
    .menuNav.active {
        left: 0;
        width: 250px;
        transition: 0.5s;
    }
    
    .menuNav .closeBtn {
        border: none;
        color: white;
        background-color: green;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
        cursor: pointer;
    }
  
  }