@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Nunito+Sans:wght@300&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-s-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h2 {
  font-family: "Maitree", bold;
}

p,
input,
button, li {
  font-family: "Nunito Sans", normal;
}

li {
  list-style: none;
}

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}

button {
  display: inline;
  background-color: #5da9c2;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  box-shadow: 5px 5px #305662;
}

.logo {
  display: flex;
}

.bookLogo {
  width: 70px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 15px;
  margin-right: 10px;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logoTitle {
  font-family: "Maitree", bold;
  font-size: 30px;
}

.menuNav,
.logoTitle {
  margin-top: 20px;
}

.menuNav {
  font-family: "Maitree";
  display: flex;
  justify-content: space-between;
  width: 400px;
  text-decoration: none;
  color: #000;
  list-style: none;
  font-size: 18px;
  padding-top: 8px;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navLink:hover,
.logoutBtn:hover {
  color: #ace8cd;
}

.logoutBtn {
  display: flex;
  background: none;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  margin-bottom: 20vh;
  padding: 30px;
  width: 60%;
  background-color: #f4e6e8;
  border-top-left-radius: 65px 70px;
  border-top-right-radius: 40px 30px;
  border-bottom-right-radius: 38px 50px;
  border-bottom-left-radius: 155px 125px;
}

.form input {
  height: 40px;
  width: 400px;
  border: 1px solid #305662;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 10px;
}

.form input:active, :focus {
  background-color: lightcyan;
}

.instructions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.instructionsSection h2 {
  text-align: center;
}

.instructions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.instructionContainer {
  width: 55%;
  margin: 0 auto;
  text-align: left;
  background-color: #f4e6e8;
  padding: 30px;
  border-top-left-radius: 65px 70px;
  border-top-right-radius: 155px 125px;
  border-bottom-right-radius: 38px 50px;
  border-bottom-left-radius: 40px 30px;
}

.person1Img {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 120px;
  left: 170px;
}

footer {
  display: block;
  background-color: #5da9c2;
  height: 50px;
  width: 100vw;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  opacity: 0.8;
}

footer svg {
  margin-inline: 5px;
}

.aboutContainer {
  display: flex;
  margin-bottom: 60px;
}
.aboutContainer p {
  text-align: center;
}

.aboutContainer h2 {
  text-align: center;
}

.about {
  margin: 0 auto;
  padding: 20px;
  margin: 20px 0px;
  position: relative;
}

.about img {
  width: 250px;
  border-radius: 50%;
}

.aboutButtons {
  display: flex;
  position: absolute;
  bottom: -5%;
  padding-inline: 20px;
}

.aboutButtons a {
  text-decoration: none;
  color: black;
}

.aboutButtons button:nth-of-type(2) {
  margin-left: 20px;
}

.aboutButtons a:hover {
  text-decoration: none;
  color: #ace8cd;
}

@media (max-width: 614px) {
  .bookCover {
    width: 180px;
    height: 288px;
  }
  .bookCover .coverimg {
    margin: 10px auto;
  }
  .favouritesList {
    justify-content: space-around;
    padding-left: 0;
  }
}
@media (min-width: 1050px) {
  .hamburgerMenu {
    display: none;
    background-color: none;
  }
}
@media (max-width: 1050px) {
  .navBar {
    position: relative;
  }
  .navBar button {
    position: fixed;
    right: 40px;
    top: 14px;
    z-index: 10;
    color: black;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .menuNav {
    font-family: "Maitree";
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-decoration: none;
    font-size: 18px;
    padding: 40px;
    list-style: none;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    background: #5da9c2;
    right: -100px;
    bottom: 0;
    width: 0;
    z-index: 1;
    height: 100vh;
    margin-top: 0;
  }
  .mdClose {
    margin: 5px;
    z-index: 10;
  }
  .menuNav.showMenu {
    width: 350px;
    transition: 0.5s;
  }
  .navLink {
    display: flex;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    z-index: 5;
  }
}
@media (max-width: 1360px) {
  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .instructionContainer {
    margin: 0 auto;
    width: 60%;
  }
  .person1Img {
    display: flex;
    justify-content: center;
    top: 45px;
    left: 0;
    margin: 0 auto;
  }
  .form input {
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .searchBtn {
    margin-top: 20px;
  }
}
/* style for loading animation */
.loader {
  width: 100vw;
  height: 175vh;
  position: absolute;
  left: 0;
  top: 15%;
  background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/tDDIeB24eaOr3xhbia/giphy.gif") center no-repeat;
  z-index: 1;
}

.loader::after {
  content: "loading...";
  display: block;
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.details {
  margin-block: 20vh;
}

.details .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details h2,
h3 {
  text-align: center;
}

.detailContainer {
  text-align: justify;
  padding-inline: 25px;
  line-height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.detailImgContainer,
.detailContainer {
  width: 48%;
  border: 2px solid goldenrod;
  max-height: 80vh;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.521);
}

.descriptionContainer {
  height: 100%;
  overflow: scroll;
  padding: 10px;
}

.detailImgContainer img {
  width: 100%;
  height: 100%;
}

.backButton {
  position: absolute;
  right: 5%;
  top: -10%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.favourited {
  background-color: #f4e6e8;
}

.favourited:hover {
  box-shadow: #5da9c2 5px 5px;
}

.bookCover {
  width: 225px;
  height: 360px;
  position: relative;
}
.bookCover .coverImg {
  height: 100%;
  width: 100%;
}

.coverActive {
  opacity: 0.5;
}

.loginPage {
  background-color: #f4e6e8;
  height: 50vh;
  width: 40vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 65px 70px;
  border-top-right-radius: 40px 30px;
  border-bottom-right-radius: 38px 50px;
  border-bottom-left-radius: 155px 125px;
}

.loginContainer button {
  cursor: pointer;
  display: block;
  margin-block: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  height: inherit;
  width: 100%;
}

.pagination ul {
  display: flex;
  justify-content: center;
}
.pagination li {
  margin-right: 20px;
  list-style: none;
  transition: 0.3s;
}
.pagination li:hover {
  border-bottom: solid black 1px;
  cursor: pointer;
}
.pagination .selected {
  color: #5da9c2;
}

.search {
  margin-bottom: 60px;
}
.search p {
  text-align: center;
}

.searchedBooks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: space-around;
  gap: 60px;
  padding: 0;
}

.favourites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favouritesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: space-around;
  gap: 15px;
}

.ratingContainer {
  position: absolute;
  top: 1%;
  color: black;
  background-color: black;
  border-radius: 5px;
  padding: 2px;
  background: #5da9c2;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 25px 0;
}/*# sourceMappingURL=App.css.map */